* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}
.container{
    max-width: 1350px;
    margin: 0 auto; 
}
.main-header {
  padding: 20px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.caption {
  font-style: italic;
  font-size: 12px;
  margin: 5px 0;
}
.user-details {
  padding: 8px;
  border-radius: 8px;
  border: #443886 2px solid;
}
.user-details h2{
  font-size: 16px;
}
.user-details p {
  font-size: 12px;
}
.bottom-section {
  background-color: #dbd9eb;
  border-radius: 25px;
  margin-top: 20px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}
.nav-list li {
  margin-right: 40px;
  margin-left: 8px;
  cursor: pointer;
}
.nav-list li:hover {
  background-color: #443886;
  color: #fff;
  padding: 6px 20px;
  border: none;
  border-radius: 25px;
  
}
.LogoutButton {
  background-color: #443886;
  color: #fff;
  padding: 8px 36px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.LogoutButton:hover{
  background-color: #4b4084;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 8px 36px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.formDiv {
  width: 340px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
  margin-top: 80px;
}
.formDiv h3 {
  text-align: center;
  margin-bottom: 20px;
}
.formClass {
  display: flex;
  flex-direction: column;
}
.formClass label {
  margin-bottom: 5px;
  color: #333;
}
.formClass input[type="text"],
.formClass input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.submitButton{
  width: 100%;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #4b4084;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
} 
.btnLink{
  border: none;
  background-color: #f9f9f9;
  color: #4b4084;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
}
.btnLink:hover{
  text-decoration: none;
}
.formDiv p{
  font-size: 13px;
}
span{
  font-size: 13px;
  color: red;
}
.formClass .submitButton:hover {
  background-color: #aba1e1;
  color: black;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 155px;
  position: relative;
}
.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-nav h3 {
  margin-bottom: 10px;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
}
.footer-nav li {
  margin-bottom: 5px;
  font-size: 12px;
}
.footer-nav a {
  text-decoration: none;
  color: #fff;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-contact h3 {
  margin-bottom: 10px;
}
.footer-contact p {
  margin: 5px 0;
  font-size: 12px;
}
.footer-social h3 {
  margin-bottom: 10px;
}
.footer-social ul {
  list-style: none;
  padding: 0;
}
.footer-social li {
  margin-bottom: 5px;
  font-size: 12px;
}
.footer-social a {
  text-decoration: none;
  color: #fff;
}
.footer-social a:hover {
  text-decoration: underline;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom p {
  margin: 0;
  font-size: 12px;
}
/* ---------- home --------- */
.homeTop{
  display: flex;
  align-items: center;
  background-color: #4b4084;
  margin-top: 30px;
}
.image-section{
  flex: 1; 
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.image-section img {
  max-width: 100%; 
  height: auto;
}
.cntnt-section{
  flex: 4;
}
.cntnt-section h2, .cntnt-section p{
  color: white;
}
.cntnt-section button {
  margin: 20px 0;
  padding: 5px 10px;
  cursor: pointer;
}
.cntnt-section button:hover {
  background-color: rgb(219, 229, 239);
}
/* ---------- books --------- */
.bookBox {
  border: 1px solid #655858;
  background-color: aliceblue;
  padding: 20px;
  margin: 20px;
  align-items: center;
}
.addToCartBtn {
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
}
.allBooks{
  background-color: #4b4084;
}
.allBooks h2{
  padding: 20px;
  color: rgb(248, 251, 254);
}
/* ---------- Sidebar --------- */
.sidebar {
  width: 300px;
  background-color: #f3f3f3;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 140px;
  bottom: 0; 
  right: 85px; 
}
.sidebar ul{
  padding: 10px 0;
}
.sidebar li{
  list-style: none;
  color: #235b80;
  padding-top: 10px;
}
.sidebar .emptyCart{
  padding: 22px;
  color: red;
}
.cartBtn{
  padding: 0 10px;
  margin: 0 10px ;
}
/* --------- subscription plans ------------- */

.subscriptionPlans {
  color: #333;
  text-align: center;
  font-size: 26px;
  padding: 20px;
  border-radius: 10px;
  border: #4b4084 5px solid;
  margin-top: 30px;
  background-color: aliceblue;
}
.subscriptionPlans ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.subscription-plan {
  background-color: aliceblue;
  padding: 20px;
  margin: 20px 0;
  align-items: center;
  list-style-type: none;
  border: #443886 1.5px solid;
  cursor: pointer;
}
.subscription-plan:hover {
  background-color: rgb(191, 209, 225);
  border: #443886 2.5px solid;
}
.subscription-plan p:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.subscription-plan p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.subscription-form {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
label {
  display: block;
  margin: 12px 0;
}
select {
  width: 300px;
  padding: 8px;
  margin-bottom: 16px; 
  margin-right: 10px;
}
.subscription-form button {
  background-color: #4b4084;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.subscription-form button:hover {
  background-color: #655858;
}
.activeSubscription h4{
  font-size: 20px;
  margin-bottom: 8px;
}
.activeSubscription p{
  font-size: 16px;
  margin-bottom: 5px;
}
.createForm{
  background-color: #bab3e1;
  width: 70%;
  margin-top: 20px;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 12px;
  text-align: center;
}
.subscriptionForm button{
  max-width: 200px;
  margin-top: 10px;
}