* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  background-color: rgb(231, 240, 252);
  font-family: Arial, sans-serif;
}
.header {
  background-color: #87427b;
  color: #fff;
  padding: 10px 0 0 0;
  text-align: center;
}
.logo {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0px 80px;
}
.caption{
  font-size: 12px;
  color: #fff;
  padding: 0 30px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-left: 15px;
  width: 80px;
  background-color: #ddc2d8;
  padding: 2px; 
}
nav ul li a {
  text-decoration: none;
  color:#8b1683;
  font-weight: bold;
}
nav ul li:hover { 
  background-color: #f1cfec;
}
.LogoutButton{
  width: 80px;
  margin-right: 25px;
  background-color:  #dde6bc;
  padding: 6px;
  color: #87427b;
  font-weight: bold;
  font-size: 16px;
}
.LogoutButton:hover{
  background-color:#f6fae7;
}
.welcome{
  color: rgb(241, 232, 232);
  font-size: 18px;
  margin: 0; padding: 5px;
  background-color: #cfa6d1;
}
.formDiv {
  width: 340px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
  margin-top: 80px;
}
.formDiv h3 {
  text-align: center;
}
.formClass {
  display: flex;
  flex-direction: column;
}
.formClass label {
  margin-bottom: 5px;
  color: #333;
}
.formClass input[type="text"],
.formClass input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
Button {
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #83587b;
  color: #fff;
  cursor: pointer;
}
.submitButton{
  width: 100%;
}

span{
  font-size: 13px;
  color: red;
}
.formClass .submitButton:hover {
  background-color: #cfa6d1;
  color: black;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 155px;
  position: relative;
}
.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-nav h3 {
  margin-bottom: 10px;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
}
.footer-nav li {
  margin-bottom: 5px;
  font-size: 12px;
}
.footer-nav a {
  text-decoration: none;
  color: #fff;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-contact h3 {
  margin-bottom: 10px;
}
.footer-contact p {
  margin: 5px 0;
  font-size: 12px;
}
.footer-social h3 {
  margin-bottom: 10px;
}
.footer-social ul {
  list-style: none;
  padding: 0;
}
.footer-social li {
  margin-bottom: 5px;
  font-size: 12px;
}
.footer-social a {
  text-decoration: none;
  color: #fff;
}
.footer-social a:hover {
  text-decoration: underline;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom p {
  margin: 0;
  font-size: 12px;
}

/* ---------- books --------- */
.bookBox{
  width: 200px;
  background-color: #87427b;
  color: #f9f9f9;
  padding: 10px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  margin: 2px;
}